.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 500px;
    height: 300px;
    max-width: 80%;
    max-height: 70%;
    background-color: #eaffbe;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.modalLoad {
    width: 500px;
    height: 300px;
    max-width: 80%;
    max-height: 70%;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10000;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.promptContent {
    height: 400px;
}

.promptContent .modal {
    height: 400px;
}

.text {
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 20%;
    color: #2c3d27;
}

.textLoading {
    padding: 10px;
    text-align: center;
    top: 20%;
    color: #2c3d27;
}

.textarea {
    width: 100%;
    height: 60%;
    margin-top: 5%;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    resize: vertical;
    font-family: inherit;
    background-color: white;
    color: #2c3d27;
}

.button {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-family: inherit;
    min-width: 80px;
    color: #2c3d27;
    background-color: #f8f095;
    position: absolute;
    bottom: 10px;
}

.primaryButton {
    width: 50%;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.buttonGroup .button {
    width: 45%;
}

.loader {
    border-top: 10px solid #ffcf00;
    border-right: 10px solid #e4c53d;
    border-bottom: 10px solid #59ff97;
    border-left: 10px solid #106d19;
    border-radius: 90%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Dark theme styles */
:root[data-theme="dark"] {
    .modal {
        background-color: #000000;
        color: #cba95c;
    }

    .text, .textLoading {
        color: #cba95c;
    }

    .button {
        color: #cba95c;
        background-color: #272727;
    }

    .loader {
        border-top: 10px solid #cba95c;
        border-right: 10px solid #bf9e50;
        border-bottom: 10px solid #a4863e;
        border-left: 10px solid #836829;
    }

    .textarea {
        background-color: #272727;
        color: #cba95c;
    }
}