* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fffde8;
    color: #2c3d27;
}

/* NAV STYLE */
nav {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    background-color: #f6ffd7;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

nav ul li {
    height: fit-content;
}

.navText {
    text-decoration: none;
    background: none;
    color: #2c3d27;
    font-size: 1.1em;
}

.navText:hover {
    background-color: #f8f095;
}

#navLogo {
    width: 250px;
    background: none;
    background-color: transparent;
    margin: 0;
}

#login {
    background-color: #f8f095;
    padding: 15px 20px 15px 20px;
}

#login:hover {
    background-color: #e0d35b;
}

.navLogo {
    text-align: center;
    justify-content: left;
}

.navLinks {
    text-align: center;
    justify-content: right;
    columns: 5;
    column-gap: 10px;
    flex-grow: 1;
    column-width: calc(60%/5);
    padding-top: 2.5rem;
    padding-left: calc(20%);
}

.navLinks li a {
    padding: 10px;
    border-radius: 10px;
}

/* HEADER STYLE */
header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f095;
    padding: 20px 0 20px 0;
}

/* MAIN SECTION */

main {
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 0;
}

/* WHAT IS FREE IDEAS SECTION */
#whatisFreeIdeas {
    width: 100%;
    height: fit-content;
    align-items: center;
    background-color: rgb(214, 233, 144);
}

#whatisFreeIdeas h2 {
    text-align: center;
    padding: 20px 0 20px 0;
}

#whatisFreeIdeas #lastIdeas {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: 0;
}

.ideaBox {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 10px;
    background-color: #f8f095;
    border-radius: 10px;
    flex: 0 0 auto;
}

.ideaBox .ideaImage {
    height: 170px;
    width: 140px;
    object-fit: contain;
    display: block;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 0;
}

.ideaBox .ideaTitle {
    font-size: 25px;
    padding-top: 30px;
}

.ideaBox .ideaAuthor {
    font-size: 15px;
    padding-top: 10px;
}

#whatisFreeIdeas #description {
    text-align: justify;
    align-items: center;
    padding: 20px 20px 20px 80px;
    font-size: 1.2em;
}

/* HELP OTHER PEOPLE SECTION */
#helpIdeas {
    width: 100%;
    height: fit-content;
    align-items: center;
    background-color: rgb(173, 212, 32);
}

#helpIdeas h2 {
    text-align: center;
    padding: 20px 0 20px 0;
}

#helpIdeas #lastHelp {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: 0;
}

.ideaBox {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin: 10px;
    background-color: #f8f095;
    border-radius: 10px;
    flex: 0 0 auto;
}

.ideaLink {
    text-decoration: none;
    color: #2c3d27;
}

.ideaBox .ideaImage {
    height: 170px;
    width: 140px;
    object-fit: contain;
    display: block;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 0;
}

.ideaBox .ideaTitle {
    font-size: 25px;
    padding-top: 30px;
}

.ideaBox .ideaAuthor {
    font-size: 15px;
    padding-top: 10px;
}

#helpIdeas #description {
    text-align: justify;
    align-items: center;
    padding: 20px 20px 20px 80px;
    font-size: 1.2em;
}

/* FOOTER STYLE */
footer {
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: #f6ffd7;
    padding: 20px 0 20px 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    padding: 0;
    padding-right: 30px;
}

footer ul li a {
    color: #2c3d27;
}

#githubLogo {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.footerTextSection {
    display: flex;
    align-items: center;
    padding: 0;
}

.footerText {
    display: flex;
    justify-content: right;
    columns: 2;
    column-gap: 30px;
    flex-grow: 1;
    margin-right: calc(5%);
    margin-left: calc(10%);
}

#footerLogo {
    width: 250px;
    background: none;
    background-color: transparent;
}

#footerLogoA {
    margin: 0;
    justify-content: left;
}

/* OTHER PAGES STYLES */
/* FOOTER PAGES */
.footerpage {
    width: 100%;
    height: fit-content;
    align-items: center;
    background-color: rgb(214, 233, 144);
}

.footerpage h1 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 2em;
    color: #2c3d27;
}

.footerpage h2 {
    text-align: center;
    padding: 20px 0 20px 0;
}

.footerpage h3 {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 1.3em;
    color: #2c3d27;
}

.footerpage h4 {
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 1.1em;
    color: #2c3d27;
}

.footerpage ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footerpage ul li {
    text-align: justify;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1em;
    color: #2c3d27;
}

.footerpage p {
    text-align: justify;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 1em;
    color: #2c3d27;
}

/* SEARCH PAGE */
